*/*.pyc
asset/*.pyc
deploy/*.pyc
deployuser/*.pyc
deploySystem/*.pyc
webhooks/*.pyc
zabbixapi/*.pyc
asset/migrations/*.pyc
deploy/migrations/*.pyc
deployuser/migrations/*.pyc
work/migrations/*.pyc
zabbixapi/migrations/*.pyc
period/*.pyc
dbmonitor/migrations/*.pyc
network/migrations/*.pyc
