*/*.pyc
asset/*.pyc
deploy/*.pyc
deployuser/*.pyc
deploySystem/*.pyc
webhooks/*.pyc
zabbixapi/*.pyc
asset/migrations/*.pyc
deploy/migrations/*.pyc
deployuser/migrations/*.pyc
work/migrations/*.pyc
zabbixapi/migrations/*.pyc
period/*.pyc
dbmonitor/migrations/*.pyc
network/migrations/*.pyc
monitor/migrations/*.pyc
server/migrations/*.pyc
bussiness/migrations/*.pyc
bussiness/*.pyc
module/migrations/*.pyc
module/*.pyc
job/*.pyc
job/migrations/*.pyc
